<div class="section blue">
		<div class="title">Welcome To My Site</div>
		<p class="subtittle">Here you can buy or sell paintings</p>
</div>

<div class="container">
	<div class="columns">
		<div class="column is-half">
			<%= render 'search_bar'%>
		</div>
	</div>	
</div>

<div class="section blue">
	<div class="container">
		<div class="columns">

		<% @paintings.each do |painting| %>
			<div class="column is-one-fifth">
			<div class="card">

			  <div class="card-image">
			    <figure class="image is-9x16" style="width: 15rem;">
			        <%= image_tag painting.image.url(:thumb) %> 
			    </figure>
			  </div>

			 <div class="card-content">
			    <p><%= link_to painting.name_painting, painting %></p>
				<p><%= painting.price %></p>

				<footer class="card-footer">
			    <% if painting.user != current_user%>
			    <!--%= link_to 'Buy', paintings_buy_path, class:"button is-info" %-->
			    <% end %>
		
			</footer>
			</div>
	    	</div>   
	  		</div>

			
				
    <% end %>

    	</div>
		</div>
</div>