<div class="section blue">
		<div class="title">Welcome To My Site</div>
		<p class="subtittle">Here you can buy or sell paintings</p>
</div>

<div class="container">
	<div class="columns">
		<div class="column is-half">
			<%= render 'search_bar'%>
		</div>
	</div>	
</div>

<div class="section blue">
	<div class="container">
		<div class="columns">
		<% @paintings.each do |painting| %>

			<div class="card">

			  <div class="card-image">
			    <figure class="image is-9x16" style="width: 10rem;">
			        <img src="https://bulma.io/images/placeholders/360x640.png" alt="Placeholder image">
			    </figure>
			  </div>

			 <div class="card-content">
			    <p><%= link_to painting.name_painting, painting %></p>
				<p><%= painting.price %></p>
			</div>
	    </div>   
	  </div>
	</div>
    <% end %>
		
</div>